.filters {
    background: white;
    height: 70px;
    width: 100%;
    border:
        1px
        solid
        #DDDDDD;
    border-radius: 4px;
    display: flex;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin: auto 30px auto auto;
    align-content: center;
}

.filters button:hover {
    opacity: 0.9;
}

.filters .locations {
    border-right:
        1px
        solid
        #DDDDDD;
}

.filters .locations,
.filters .amenities {
    height: 100%;
    width: 25%;
    position: relative;
}

.filters h3 {
    font-weight: 600;
    margin-bottom: 0px;
    padding-left: 30px;
}

.filters h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0px;
    padding-left: 30px;
}

.popover {
    display: none;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    background-color: #FAFAFA;
    border:
        1px
        solid
        #DDDDDD;
    border-radius: 4px;
    padding: 15px 0px;
}

.locations:hover .popover,
.amenities:hover .popover,
ul h2 {
    display: block;
    margin-bottom: 0px;
    z-index: 1;
}

.popover ul {
    list-style-type: none;
}