.places {
    padding: 10px;
}

.places > div,
.places .information div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.places h1 {
    text-align: left;
    vertical-align: top;
    font-size: 30px;
}

article h2 {
    margin-top: 0px;
    text-align: center;
    font-size: 30px;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border:
        1px
        solid
        #FF5A5F;
    border-radius: 4px;
    position: relative;
}

.price_by_night {
    color:  #FF5A5F;
    border:
        4px
        solid
        #FF5A5F;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    padding: 10px;
}

.information {
    height: 80px;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #DDDDDD;
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
    margin-top: 50px;
}

.information p {
    text-align: center;
    width: 100%;
    margin: 0px;
}

.information .max_guest::before {
    content: url("../images/guests.png");
}

.information .number_rooms::before {
    content: url("../images/bedrooms.png");
}

.information .number_bathrooms::before {
    content: url("../images/bathrooms.png");
}

footer {
    position: relative;
    bottom: 0px;
}